$main: #e00087;
$main-bg: #ff8fc1;
$main-bgb: #ffbcda; // b - brighter
$secondary: #a8a8a8;
$white: #ffffff;
$blue: #5662f6;
$purple: #6441a4;
$red: #d31717;
$dark: #1b1b1b;
$darkd: #171717; // d - darker
$darkdd: #010101;

// viewports
$vp-min: 320px;
$vp-mobile: 480px;
$vp-tablet: 768px;
$vp-tlandscape: 1024px;
$vp-laptop: 1280px;
$vp-desktop: 1920px;
