@font-face {
  font-family: "Furore";
  src: url("@/assets/fonts/Furore.otf");
  font-display: swap
}

@font-face {
  font-family: "Mulish";
  font-weight: 400;
  src: url("@/assets/fonts/Mulish-Regular.ttf");
  font-display: swap
}

@font-face {
  font-family: "MulishBold";
  font-weight: 700;
  src: url("@/assets/fonts/Mulish-Bold.ttf");
  font-display: swap
}

@font-face {
  font-family: "MulishSemiBold";
  font-weight: 600;
  src: url("@/assets/fonts/Mulish-SemiBold.ttf");
  font-display: swap
}

html {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

body,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  min-width: 272px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $vp-mobile) {
    max-width: 432px;
    padding: 0 24px;
  }

  @media screen and (min-width: $vp-tablet) {
    max-width: 712px;
    padding: 0 24px;
  }
  
  @media screen and (min-width: $vp-tlandscape) {
    max-width: 875px;
    padding: 0 24px;
  }
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
